<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Contagem de Produtos por Fornecedor')}"></div>

<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="flex-grow-1">
    <div class="container py-4">
        <h1>Contagem de Produtos por Fornecedor</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Fornecedor</th>
                <th>Quantidade de Produtos</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contagem : ${contagemProdutos}">
                <td th:text="${contagem.nomeFornecedor}"></td>
                <td th:text="${contagem.quantidadeProdutos}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<div class="mt-auto" th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
