<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head('Fornecedores')"></div>

<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/navbar :: navbar"></div>

<main class="flex-grow-1">
    <div class="container py-4">
    <h1 th:text="${fornecedor.id != null} ? 'Editar Fornecedor' : 'Novo Fornecedor'"></h1>
    <form action="/fornecedores/salvar" method="post" th:object="${fornecedor}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" th:field="*{nome}" class="form-control" id="nome" required>
        </div>
        <div class="mb-3">
            <label for="cnpj" class="form-label">CNPJ</label>
            <input type="text" th:field="*{cnpj}" class="form-control" id="cnpj" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/fornecedores" class="btn btn-secondary">Cancelar</a>
    </form>
    </div>
</main>

<div class="mt-auto" th:replace="fragments/footer :: footer"></div>
</body>
</html>
